<div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="208" height="87" viewBox="0 0 208 87">
      <text id="SMART_HOUSING" data-name="SMART
    HOUSING" transform="translate(0 44)" fill="#707070" font-size="45" font-family="HelveticaNeue-Medium, Helvetica Neue" font-weight="500"><tspan x="0" y="0">SMART</tspan><tspan fill="#67e5d1"><tspan x="0" y="33">HOUSING</tspan></tspan></text>
    </svg>    
</div>

<div class="navigation">
  <div class="nav-item">Login</div>
  <div class="nav-item">Homepage</div>
  <div class="nav-item">About</div>
  <div class="nav-item">About</div>
</div>

<router-outlet>
</router-outlet>